In [16]:
import requests
import json
import numpy as np
import pandas as pd
import pickle

# Testar o modelo em produção usando o Notebook

In [30]:
data_test = pd.read_csv('./../models/datasets/df_test.csv')

In [31]:
df = data_test.sample()
df

,age,education,capital_gain,capital_loss,hours_per_week,status_civic,target
6305,28,3,0,0,40,1,0

In [32]:
data = df.drop('target', axis=1)
target = df.target

In [33]:
data_json = data.to_json(orient='records')

In [34]:
data_json

'[{"age":28,"education":3,"capital_gain":0,"capital_loss":0,"hours_per_week":40,"status_civic":1}]'

In [35]:
#Request
url = 'https://app-model-aec.herokuapp.com/predict'
data = data_json
header = {'Content-type':'application/json'}
response = requests.post(url=url, data=data_json,headers=header)

In [36]:
response.status_code

200

In [37]:
response.json()

[{'age': 0.1506849315,
  'education': 0.1333333333,
  'capital_gain': 0.0,
  'capital_loss': 0.0,
  'hours_per_week': 0.3979591837,
  'status_civic': 1.0,
  'prediction': 0}]

In [38]:
target

6305    0
Name: target, dtype: int64

# Testar o modelo em produção usando o Aplicativo

In [39]:
data_test = pd.read_csv('./../data_preparation/Output/data_test_model.csv')

In [96]:
df = data_test.sample()
df

,age,education,marital_status,capital_gain,capital_loss,hours_per_week,target
12772,39,Assoc-voc,Never-married,14344,0,40,>50K

In [97]:
df = data_test.sample()
df

,age,education,marital_status,capital_gain,capital_loss,hours_per_week,target
3778,22,Some-college,Never-married,0,0,20,<=50K