In [1]:
import requests
import json
import numpy as np
import pandas as pd
import pickle

In [2]:
data_test = pd.read_csv('./../models/datasets/df_test.csv')

In [18]:
df = data_test.sample()
df

,age,education,capital_gain,capital_loss,hours_per_week,status_civic,target
4933,23,13,0,0,12,1,0

In [19]:
data = df.drop('target', axis=1)
target = df.target

In [20]:
data_json = data.to_json(orient='records')

In [28]:
data_json

'[{"age":23,"education":13,"capital_gain":0,"capital_loss":0,"hours_per_week":12,"status_civic":1}]'

In [29]:
#Request
url = 'https://app-model-aec.herokuapp.com/predict'
data = data_json
header = {'Content-type':'application/json'}
response = requests.post(url=url, data=data_json,headers=header)

In [30]:
response.status_code

200

In [31]:
response.json()

'[{"age":0.0821917808,"education":0.8,"capital_gain":0.0,"capital_loss":0.0,"hours_per_week":0.112244898,"status_civic":1.0,"prediction":0}]'

In [32]:
target

4933    0
Name: target, dtype: int64